@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom::-webkit-scrollbar {
  width: 7px;
  background-color: #0f172a;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #1e40af;
  border-radius: 5px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #0f172a;
}
